.square-button {
	border-top-left-radius     : 0px;
	border-top-right-radius    : 0px;
	border-bottom-left-radius  : 0px;
	border-bottom-right-radius : 0px;
}

.top-left-button {
	border-top-width  : 0px;
	border-left-width : 0px;
}

.top-button {
	border-top-width : 0px;
}

.top-right-button {
	border-top-width   : 0px;
	border-right-width : 0px;
}

.left-button {
	border-left-width : 0px;
}

.right-button {
	border-right-width : 0px;
}

.bottom-left-button {
	border-bottom-width : 0px;
	border-left-width   : 0px;
}

.bottom-button {
	border-bottom-width : 0px;
}

.bottom-right-button {
/*	background          : rgb(98, 160, 234);*/
	border-bottom-width : 0px;
	border-right-width  : 0px;
}

.action-button {
	background : rgb(192, 191, 188);
}
